h2, h3 {
	color:white;

}
#enter-text{
	font-family: 'Open Sans', sans-serif;
}

#hourly-weather-box {
	border: 4px solid white;

	float: left;
	margin: 2%;
	padding: 3%;

}

#hourly-weather-box:hover {
	opacity: .8;
}

/*.center {
	text-align: center;
}*/

li {
	list-style: none;

}

#index {
	background-image: url('/images/Photo-Victor-Jakovlev.jpeg');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}

#weather-page {
	background-image: url('/images/Photo-by-David-Marcu.jpeg');
	background-repeat: no-repeat;
/*	background-image: url('/images/Photo-by-Clem-Onojeghuo.jpeg');*/
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}
.enter {
	border: 2px white solid;
	position: absolute;
	top: 50%;	
	width: 50%;
	text-align: center;
	padding: 5%;
	margin-left: 25%;
}

.enter:after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 9px;
  left: 9px;
  right: 9px;
  bottom: 9px;
  border: 2px solid white;
}

.enter-link {
	color: white;
	font-size: 4vw;
	text-decoration: none;
	margin: 0 auto;
}


/*GRID SYSTEM BY http://chrisnager.github.io/ungrid/
*/
/*@media (min-width: 30em) {
    .row { width: 100%; display: table; table-layout: fixed; }
    .col { display: table-cell; }
}*/

/*media query section
*/
/*@media only screen and (min-width: 760px) {
	height: 384px;
}

@media only screen and (min-width: 992px) {
	height: 496px;
	display: block;
}

@media only screen and (min-width: 1200px) {
	height: 600 px;
	display: block;
}
*/