 html, body { 
 	height: 100%; 
 	margin: 0; 
 	padding: 0; 
}

h3, h4, h5 {
	color:white;
	text-shadow: 1px 1px grey;
}

/************ INDEX PAGE *************/

#enter-text{
	font-family: 'Open Sans', sans-serif;
}

#index {
	background-image: url('/images/Photo-Victor-Jakovlev.jpeg');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}

.enter {
	border: 2px white solid;
	position: absolute;
	top: 50%;	
	width: 50%;
	text-align: center;
	padding: 5%;
	margin-left: 25%;
}

.enter:after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 9px;
  left: 9px;
  right: 9px;
  bottom: 9px;
  border: 2px solid white;
}

.enter-link {
	color: white;
	font-size: 4vw;
	text-decoration: none;
	margin: 0 auto;
}

.whitetext {
	color:white;
	font-family: 'Open Sans', sans-serif;
}

/************ WEATHER PAGE *************/

#weather-page {
	background-image: url('/images/Photo-by-David-Marcu.jpeg');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}

#hourly-weather-box {
	border: 4px solid white;
	float: left;
	margin: 2%;
	padding: 3%;
}

#hourly-weather-box:hover {
	opacity: .8;
}

li {
	list-style: none;
}

.hidden {
	color: transparent;
}

/************ MAP PAGE *************/

#map-canvas {
	height: 75%;
}


/*NG-ANIMATE STUFF THAT ISN'T WORKING
.page.ng-leave 	{ z-index:9999; }

.page-home.ng-leave		{ 
    -webkit-animation:slideInUp 0.5s both ease-in;
	-moz-animation:slideInUp 0.5s both ease-in;
	animation:slideInUp 0.5s both ease-in;  
}

slide in from the bottom 
@keyframes slideInUp {
	from 	{ transform:translateY(100%); }
	to 		{ transform: translateY(0); }
}
@-moz-keyframes slideInUp {
	from 	{ -moz-transform:translateY(100%); }
	to 		{ -moz-transform: translateY(0); }
}
@-webkit-keyframes slideInUp {
	from 	{ -webkit-transform:translateY(100%); }
	to 		{ -webkit-transform: translateY(0); }
}

*/
