<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Marine Weather</title>
	<link href="css/style.css" type="text/css" rel="stylesheet">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  	<!--Import Google Icon Font-->
  	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   	<!--Import materialize.css-->
   	<link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
	<!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
 	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
 	<script src="../bower_components/modernizr/bin/modernizr"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
 	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
 	<script src="js/materialize.min.js" charset="utf-8"></script>
	<script src="js/map.js" charset="utf-8"></script>



</head>
<body>

<div id="map-canvas">
	  <ng-map id="map" center="40, -79" zoom=5 zoom-to-inlude-markers="true" zoom-control="true" style="display:block, height:400px;">
    </ng-map>
</div>	

    <div class="panel-heading">
        <h4 class="blacktext panel-title text-center">Save Your Locations</h4>
    </div>
    <!-- Panel Body -->
    <div class="row">
        <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
        <form name ="addForm" novalidate>
            <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
            <div class="input-field col s6">
                <label for="location">Location Name</label>
                <input type="text" id="locale" placeholder="Enter the location name" ng-model="formData.location" required>
            </div>
            <div class="input-field col s3">
                <label for="latitude">Latitude</label>
                <input type="text" class="form-control" id="latitude" value="39.500" ng-model="formData.latitude" readonly>
            </div>
            <div class="input-field col s3">
                <label for="longitude">Longitude</label>
                <input type="text" class="form-control" id="longitude" value="-98.350" ng-model="formData.longitude" readonly>
            </div>
            <!-- Submit button. Note that its tied to createUser() function from addCtrl. Also note ng-disabled logic which prevents early submits.  -->
            <button type="submit" ng-disabled="addForm.$invalid">Submit</button>
        </form>
    </div>

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBM5FKpJJp9Q4-_wTf3x9r9euizcWqQ18o&callback=initMap" async defer></script>

</body>
</html>